.lunar-calendar ul{list-style: none;margin: 0;padding: 0;position: relative;width: 98%;margin: auto;font: 1.2em;}
.lunar-calendar ul li{float: left;height: 50px;width: 100%;}
.lunar-calendar ul li ul{width: 100%;height: auto;}
.lunar-calendar ul li.head-first{background:rgb(208,156,25);text-align: center;line-height: 50px;}
.lunar-calendar ul li.head-first li a{text-decoration: none;}
.lunar-calendar ul li.head-second{background:rgb(229,61,21);text-align: center;line-height: 50px;}
.lunar-calendar ul li ul.head li{width:20%;float: left;}
.lunar-calendar ul li.head-second ul li,.lunar-calendar ul li.row ul li{width:14%;float: left;position: relative;border: 1px solid #000;}
.lunar-calendar ul li.lunar-calendar-item{cursor: pointer;}
.lunar-calendar-get-month{cursor: pointer;}
.lunar-calendar ul li.lunar-calendar-item div.solar{width: 100%;height: 50%;} 
.lunar-calendar ul li.lunar-calendar-item div.lunar{width: 100%; height: 47%;}
.lunar-calendar ul li.lunar-calendar-item div.solar{text-align: left;padding-top: 2px;padding-left: 2px;}
.lunar-calendar ul li.lunar-calendar-item div.lunar{text-align: right;color: #f50ae9;padding-bottom: 2px;padding-right: 2px;}
.sunday{color: red !important;}
.saturday{color: blue !important;}
/* message box */
div.msgBox
{
    padding: 4px 10px 4px 10px;
    position: fixed;
    z-index: 1050;
    font-family:Verdana;
    width: 430px;
    min-height:160px;
    color: #00335e;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: 0px 0px 11px #000000;
    -webkit-box-shadow: 0px 0px 11px #000000;
    box-shadow: 0px 0px 11px #000000;
}
div.msgBoxBackGround
{
    top:0;
    left:0;
    position:absolute;
    padding:0;
    margin:0;
    width:100%;
    height:100%;
    background-color:#000000;
    opacity:0.9;
    z-index:999;
}
div.msgBoxTitle
{
    padding:5px 0 5px 0;
    font-variant:small-caps;
    font-size:16pt;
    font-weight:lighter;
    color:#00335e;
    width:100%;
    border-bottom : 1px solid #002c5f;
}
div.msgBoxImage
{
    margin:20px 5px 0 5px;
    display:inline-block;
    float:left;
    height:75px;
    width:75px;
}
div.msgBoxImage img
{
    height:75px;
    width:75px;
}
div.msgBoxContent
{
    font-size:11pt;
    margin:0 3px 6px 3px;
    display:inline-block;
    float:left;
    height:90px;
    width:319px;
}
div.msgBoxContent p
{
    padding:0;
    margin:0;
    display: table;
    height: 100%;
    width: 100%;
}

div.msgBoxContent span 
{
    display: table-cell;
    vertical-align: middle;
    color: #00335e;
}

/* Content class for IE7*/

div.msgBoxContentIEOld
{
    font-size:11pt;
    margin:0 3px 6px 3px;
    display:inline-block;
    float:left;
    height:90px;
    width:319px;
	position: relative;
}
div.msgBoxContentIEOld p
{
    padding:0;
    margin:0;
    position: absolute;
	top: 50%;
}

div.msgBoxContentIEOld span 
{
    position: relative;
	top: -50%;
}

/* Content class for IE7*/

div.msgBoxButtons
{
    display:inline-block;
    width:100%;
    text-align:right;
}
div.msgBoxButtons input[type='button']
{
    cursor:pointer;
    margin:2px;
    height:35px;
    width:90px;
    border:1px solid #AFAFAF;
    background-color:#004076;
    color:#FFFFFF;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    outline: none;
}
div.msgBoxButtons input[type='button']:hover
{
    background-color:#00549c;
    color:White;
}
div.msgBoxButtons input[type='button']:active
{
    background-color:#AAAAAA;
    color:White;
}

div.msgBoxButtons input[type='button']:focus
{
    outline: none; 
    border: solid 2px #FFCC66; /* replace outline by a border */
	-o-transform:rotate(0); /*remove opera outline*/
}

div.msgBoxButtons input[type='button']::-moz-focus-inner /*remove firefox inner outline*/
{ 
    outline: none; 
    border: none;
}

div.msgBoxInputs
{
    margin:0 auto;
    padding-top:2px;
    padding-bottom:2px;
    margin-top:5px;
    width:195px;
}
div.msgInput input[type='text'],div.msgInput input[type='password']
{
    padding:4px;
    border:1px solid #DFDFDF;
    color:#2f2f2f;
    width:180px;
}
div.msgInput text
{
    color:#2f2f2f;
    font-size:10pt;
}
